extends layout

block content
  h1= title
  
  ul(class="item-list")
    - item_list.sort(function(a, b) {let textA = a.category.name.toUpperCase(); let textB = b.category.name.toUpperCase(); return (textA < textB) ? -1 : (textA > textB) ? 1 : 0;});
    each item in item_list
      li 
        a(href=item.url) #{item.name} 
        |  (#{item.category.name})

    else
      li There are no items.